*

!Dockerfile
!pyproject.toml
!uv.lock
!generator
!generator/*.py

.env
.envrc
dataset
data
mlruns
mlartifacts
*.csv
*.duckdb
*.ipynb
__pycache__
.pytest_cache
.ruff_cache
*.png
*.jpg
*.jpeg
*.dcm
*.parquet
*.db
*.sqlite
*.sqlite3
*.pkl
*.pt
*.pth
*.onnx
*.npy
*.npz
