AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=


# URI to MLFlow server
MLFLOW_TRACKING_URI=
MLFLOW_TRACKING_USERNAME=
MLFLOW_TRACKING_PASSWORD=

IMAGE_NAME=

LAKEFS_URL=
LAKEFS_ACCESS_KEY_ID=
LAKEFS_SECRET_ACCESS_KEY=
LAKEFS_REPOSITORY=
